.postImageWrapper{
    height: 450px;
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 200px;
}



.postImageWrapper .ok Button{
  margin-top: 200px;
  margin: 20px;
}