.Login {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Avenir Next";

}

.Login h1{
   
}
.LoginForm {
    display: flex;
    flex-direction: column;
    font-family: "Avenir Next";

}
.LoginForm h1{
   font-size: 18px;
   margin: 0px;
   margin-left: 8px;
    font-family: "Avenir Next";

}

.LoginForm input{
    margin: 6px;
    width: 400px;
    height: 50px;
    font-size: 20px;
    border-radius:   6px 6px 6px 6px;  

}
.LoginForm  Button{
    margin: 7px;
    width: 400px;
    height: 50px;
    font-size: 20px;
    background-color: #3aafa9;
    margin-top: 22px;
}

.LoginForm Button:hover{
    cursor: pointer;
    color: #061111;
}

h1 {
    font-family: "Avenir Next";
    font-size: 48px;

}