.Home {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction:column-reverse;
    justify-content: center;
    align-items: center;
    padding-top: 67px;
}

.Home .ok{
    width:1340px;
    height: 312px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:rgb(241, 246, 248);
    align-items: center;
    font-family: 'Shadows Into Light', serif;
    box-shadow: 1px 1px 1px rgb(218, 203, 203);
   
    }
    .Home .ok h1{
       
        font-weight: 700;
        line-height: 1.15;
        margin: 1.25rem 0px;
        font-size: 4.5em;      
        color: rgb(255, 82, 82);
        font-family: "Comic Sans MS", cursive, sans-serif;
        }

        
        .Home .ok p2{
            font-weight: 400;
            color: rgb(55, 71, 79);
            line-height: 1.15;
            margin: 1.25rem 0px;
            font-size: 2.5em;
            font-family: "Shadows Into Light", serif;

            }
.Home .Post {
    width: 770px;
    height: 270px;
    border-radius: 1px;
    border: 0.5px solid rgb(221, 221, 221);
    display: flex;
    flex-direction: column;
    margin: 20px;
    font-size: 20px;
    font-family: "Avenir Next";
    border-radius:   45px 45px 45px 45px;  

}
.Post:hover {
    cursor: pointer;  
   
  }



.Home .Post .Content{
   
  
    font-weight: 700;
    padding: 0;
    margin: 40px 0;
    line-height: 34.5px;
    letter-spacing: -.45px;
    font-size: 18px;  
    line-height: 1.58;
 
}

.Home .Post .Content .title {
    flex: 30%;  
    font-size: 30px;
    margin-left: 8px;
    font-family: "Comic Sans MS", cursive, sans-serif;

}

.Home .Post .Content .description {
    flex: 50%;
    text-align: center;  
    font-size: 20px;
    font-family: 'Shadows Into Light', serif;
    font-size: 21px;
    letter-spacing: -.03px;
    line-height: 1.58;
    color: rgb(83, 99, 107); 
   
  
    margin-left: 20px;
    

}

.Home .Post .Engagement {
    color: rgb(3, 3, 3);
    font-size: 18px;
    position: absolute;
    right: 300px;
    margin-top: 220px;
}



.Home .Post .created_at{

    color: rgb(181, 181, 181);
    font-size: 18px;
    position: absolute;
    right: 300px;
    margin-top: 1px;
}
.Home .Post .upload_on{
   color: rgb(181, 181, 181);
   font-size: 18px;  
   margin-left: 29px;
   margin-bottom: 1px;
   margin-top: 10px;
  
}
.Home .Post .box{
    background-color: rgb(206, 114, 22);
    width: 82px;
    height: 35px;
    position: absolute;
    right: 942px;
    font-size: 21px; 
    margin-top: 6px;
    display: flex;
    color: cornsilk;
    justify-content: center;
    align-items: center;
    border-radius:   50px 50px 50px 50px;  

}
