

.Navbar {
    width: 100%;
    height: 65px;
    background-color: #3aafa9;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: "Avenir Next";
	box-shadow: 1px 1px 1px rgb(243, 234, 234);
    margin-right: 12px;
   position: fixed;

 

}
.menu-title{     
    width: 100%;
    height: 80px;
    padding-top: 8px;   
      margin-left: 15px;
   
   
    
} 
.menu-title img{     
 
    width: 50px;
    height: 50px;
    margin: 10px;
   
    
} 
.menu-title input{     
 
    width: 155px;
    height: 33px;
    margin: 10px;
    font-size: medium;
   border-color:#3aafa9 ;
   border-radius:   5px 5px 5px 5px;  
 
   
   
    
} 
.menu-title input:hover {     
 
  
   cursor: pointer;
   border-color:#3aafa9 ;
    
} 


.Navbar a {
    font-size: 25px;
    margin: 13px;
    color: white;  

    text-decoration: none;
    font-family: 'Shadows Into Light', serif;
}
    

.Navbar a:hover {
    cursor: pointer;
    color: #0a0f0f;
   
}